<header class="header">
    <div class="header-box">
        <h1 class="header-primary">
            <span class="header-primary-main">Student RECORD CRUD </span>
            <span class="header-primary-sub">Coding project by YenHsuan Chen(Terry)</span>
        </h1>
        <a class="ui animated fade button btn-move-from-bottom btn massive pink" [routerLink]="['/list']">
            <div class="visible content">Enter</div>
            <div class="hidden content">
              Enter
            </div>
        </a>
    </div>
</header>